.blue-background {
  background-color: lightblue;
}

.red-background {
  background-color: #F1AFBD;
}

.yellow-background {
  background-color: yellow;
}

.float-image {
  float: right;
}

.header-center {
  text-align: center;
}

.column {
  width: 300px;
  float: left;
}

.column-wide {
  width: 300px;
}

img {
  max-width: 25%;
}

.border {
  border: 2px solid black;
  margin: 12px;
  padding: 4px;
  background-color: white;
}

.margin-page {
  margin: 12px;
}
